body {
	margin: 0px;
	width: 100%;
	height: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#tela {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: #777;
	perspective: 500px;
	transform-style: preserve-3d;
	position: absolute;
	top: 0px;
	left: 0px;
}
#fase {
	position: absolute;
	transform-style: preserve-3d;
	transform: rotateX(90deg);
}
div.grid {
	display: inline-grid;
	grid-template-columns: repeat(10,32px);
	grid-template-rows: repeat(10,32px);
	transform-style: preserve-3d;
}
div.bloco {
	transform-style: preserve-3d;
	image-rendering: pixelated;
}
div.bloco.destaque {
	background-image: url("teste.png");
	image-rendering: pixelated;
}
div.bloco div.parede {
	width: 32px;
	height: 32px;
	background-size: 100%;
	position: absolute;
	image-rendering: pixelated;
	backface-visibility: hidden;
}
div.bloco div.parede.p1 {
	transform: translateY(-16px) translateZ(16px) rotateX(-90deg) rotateY(180deg);
}
div.bloco div.parede.p2 {
	transform: translateX(16px) translateZ(16px) rotateX(-90deg) rotateY(90deg);
}
div.bloco div.parede.p3 {
	transform: translateY(16px) translateZ(16px) rotateX(-90deg) rotateY(0deg);
}
div.bloco div.parede.p4 {
	transform: translateX(-16px) translateZ(16px) rotateX(-90deg) rotateY(270deg);
}
#jogador {
	background-color: #FF0;
	width: 32px;
	height: 32px;
	position: absolute;
	transform: translateZ(2px);
	border-right: 3px solid #F00;
}
#mira {
	background-color: #F00;
	width: 16px;
	height: 16px;
	position: absolute;
	transform: translateZ(2px);
}
div.crosshair {
	width: 16px;
	height: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #0004;
}
#barra {
	position: relative;
	z-index: 10;
	text-align: center;
	margin: 0px auto;
	background-color: #FFF4;
}
#barra p {
	margin: 0px;
	padding: 10px;
}